classification/datasets/chexpert
classification/datasets/covidx3
classification/datasets/covidx4
classification/datasets/cxr14
classification/datasets/data_splits/covidx4
classification/datasets/data_splits/chexpert
classification/pretrained
classification/output

grad_cam/output
grad_cam/pretrained

segmentation/pretrained
segmentation/dataset
segmentation/work_dirs
segmentation/ops/MultiScaleDeformableAttention.egg-info
segmentation/ops/build

*syh*
reproduce
*__pycache__*
