classification/datasets/chexpert
classification/datasets/covidx3
classification/datasets/covidx4
classification/datasets/cxr14
classification/datasets/data_splits/covidx4
classification/datasets/data_splits/chexpert
classification/pretrained
classification/output
classification/utils/__pycache__/*
classification/engines/__pycache__/*
classification/models/__pycache__/*

grad_cam/__pycache__/*
grad_cam/output
grad_cam/pretrained

segmentation/pretrained
segmentation/mmcv_custom/__pycache__/*
segmentation/models/__pycache__/*
segmentation/dataset
segmentation/work_dirs
segmentation/models/backbone/__pycache__/*
segmentation/mmcv_custom/apex_runner/__pycache__/*
segmentation/models/decoder/__pycache__/*
segmentation/ops/MultiScaleDeformableAttention.egg-info
segmentation/ops/build